$light-color: #eee;
$dark-color: #111;
$primary-color: #224466;

*, *:before, *:after {
  box-sizing: border-box !important;
}

.no-pointer-ev {
  pointer-events: none;
}

.bg-gray {
  background-color: #888;
}

.bg-red {
  background-color: #e22;
}

@import "../util/bliux";
