.card {
  border-radius: nth($x, 3) * 4px;
}

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  &.burguer {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  &.disabled {
    //overflow: hidden;
    scroll-behavior: auto;
  }
}

.modal {
  @include s-100;
  position: fixed;
  background: #00000088;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  padding: map-get($sq2, 2) * 0.5rem;
  &.show {
    display: flex;
  }
  > .panel {
    background-color: $color-dark;
    $space: map-get($sq2, 3) * 0.5rem;
    min-height: 100px;
    margin: $space;
    padding: $space;
    max-width: 100%;
    > .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: $space;
      > h1,
      > h2 {
        margin-bottom: 0;
        margin-right: $space * 2;
      }
    }
  }
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}
